* {
  color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: rgb(184, 80, 80);
}

.hero {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(82, 27, 27);
}

.info {
  padding-bottom: 30%;
}

.all-stats {
  /* display: flex; */

  /* text-align: center; */
}

.stats-title {
  background-color: rgb(176, 94, 94);
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: rgb(184, 80, 80);

  /* text-align: center; */
}

.continents {
  display: flex;
  flex-wrap: wrap;

  /* width: 100%; */
}

.continent {
  width: 50%;
  padding: 3rem;
}

.countries {
  display: flex;
  flex-wrap: wrap;

  /* width: 100%; */
}

.country {
  width: 50%;
  padding: 3rem;
}

.utils {
  display: flex;
}

.mic {
  padding-right: 1rem;
}

.back-button {
  display: flex;
}

.back {
  padding-right: 1rem;
}

.backb {
  background: none;
}
